@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.eot?#iefix') format('embedded-opentype'), url('../fonts/Helvetica.woff') format('woff'), url('../fonts/Helvetica.ttf') format('truetype'), url('../fonts/Helvetica.svg#Helvetica') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-Bold';
    src: url('../fonts/Helvetica-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Helvetica-Bold.woff') format('woff'), url('../fonts/Helvetica-Bold.ttf') format('truetype'), url('../fonts/Helvetica-Bold.svg#Helvetica-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

a, a:focus, a:active, input, input:focus, input:active, button, button:focus, button:active, select, select:focus, select:active {
    outline: none;
}

body {
    font-family: 'Helvetica';
    font-weight: normal;
    width: 100%;
    overflow-x: hidden;
    background: #E9E9E9;
}

.top-header {
    background-color: #1f1f1f;
    padding: 5px 0px 0px 0px;
}

.custom-container {
    padding: 0px 32px;
}

.post-btn {
    border: 0px;
    background-color: #00b22d;
    border-radius: 3px;
    color: #ffffff !important;

    padding: 0 25px 0px 25px;
    display: inline;
    cursor: pointer;

    transition: 0.5s all ease;

    text-transform: uppercase;
    text-decoration: none !important;

    font-family: 'Helvetica';
    font-weight: normal;
    font-weight: 100;
    font-size: 13px;

    line-height: 31px;
}

.post-btn i {
    font-weight: bolder;
    font-size: 14px;
    margin-top: 4px;
    margin-right: 5px;
}

.post-btn:hover {

    background-color: #408d48;
}

.top-header .search-bar {
    margin-top: 11px;
}

.top-header .search-bar .dropdown-menu {
    background: rgba(255, 255, 255, 0.9);
    padding: 0px;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-radius: 0px;
    top: 30px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: none;

}

.top-header .search-bar .dropdown-menu li a {
    line-height: 28px;
    font-family: "Helvetica";
    font-size: 12px;
    text-transform: capitalize;
    white-space: nowrap;
}

.top-header .search-bar .dropdown-menu li a:hover {
    background: #15b4ef;
    color: #ffffff;
}

.top-header .search-bar .btn-default {
    background: #e0e0e0;
    text-transform: capitalize;
    color: #44484f;
    font-family: 'Helvetica';
    font-weight: normal !important;
}

.top-header .search-bar .fa {
    margin-left: 10px;
    color: #aaaaaa;
}

.top-header .search-bar .form-control {
    color: #7a808f;
    background: #ffffff url("../images/search-icon.png") 98% 50% no-repeat;
    padding-right: 30px;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #ccc;
}

.top-header .right-notify-area {
    margin: 12px 0px 0px 0px;
    float: right;
}

.top-header .right-notify-area .account-info {
    margin-left: 20px;
    color: #ffffff;
    font-size: 12px;
    text-transform: capitalize;
    position: relative;
}

.top-header .right-notify-area .account-info ul {
    position: absolute;
    left: -50px;
    top: 47px;
    z-index: 999999;
    background: rgba(255, 255, 255, 0.9);
    list-style: none;
    width: 250px;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    box-shadow: 1px 1px 1px #dddddd, 0px 0px 1px #ebebeb;
    padding: 0px;
    display: none;

}

.top-header .right-notify-area .account-info ul:before {
    content: '';
    border-bottom: 10px solid #ffffff;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: -20px;
    left: 52px;
}

.top-header .right-notify-area .account-info ul li a {
    line-height: 48px;
    display: block;
    border-bottom: 1px solid #e0e0e0;
    padding-left: 15px;
    font-size: 12px;
    color: #000000;
    font-weight: 100;
    text-decoration: none !important;
    text-transform: capitalize;
}

.top-header .right-notify-area .account-info ul li a:hover {
    background: #0096ff;
    color: #ffffff;
}

.top-header .right-notify-area .account-info ul li a:hover i {
    color: #ffffff;
}

.top-header .right-notify-area .account-info ul li a i {
    font-size: 18px;
    color: #bdbdbd;
    margin-right: 15px;
    vertical-align: sub;
}

.top-header .right-notify-area .account-info img {
    float: left;
    width: 29px;
    height: 29px;
    margin-right: 15px;
}

.top-header .right-notify-area .account-info > a {
    line-height: 30px;
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 17px;
    display: block;
}

.top-header .right-notify-area .notification-box {
    margin-left: 20px;
    position: relative;
}

.top-header .right-notify-area .notification-box ul {
    position: absolute;
    list-style: none;
    padding: 0px;
    margin: 0px;
    top: 47px;
    right: -51px;
    width: 280px;
    z-index: 9999;
    background: #ffffff;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    box-shadow: 1px 1px 1px #dddddd, 0px 0px 1px #ebebeb;
    display: none;
}

.top-header .right-notify-area .notification-box ul li h3 {
    font-size: 14px;

    font-family: "Helvetica-Bold";
    margin: 0px;
    padding: 0px;
    line-height: 32px;
    border-bottom: 1px solid #c9cacb;
    padding-left: 15px;
}

.top-header .right-notify-area .notification-box ul li .notification-row {
    font-family: 'Helvetica';
    font-weight: normal;
    line-height: 25px;
    border-bottom: 1px solid #c9cacb;
    padding-left: 15px;
    color: #000000;
    display: block;
    padding-top: 15px;
    font-size: 11px;
    line-height: 13px;
    padding-bottom: 15px;
}

.top-header .right-notify-area .notification-box ul li .notification-row:hover {
    background: #eee;
}

.top-header .right-notify-area .notification-box ul li .notification-row img {
    float: left;
    margin-right: 10px;
    margin-bottom: 30px;

}

.top-header .right-notify-area .notification-box ul li .notification-row p {
    float: right;
    width: 80%;
    text-decoration: none;
}

.top-header .right-notify-area .notification-box ul li .notification-row span {
    display: block;
    text-decoration: none;
    width: 80%;
    float: right;
    color: #7a808f;
}

.top-header .right-notify-area .notification-box ul:after {
    content: '';
    border-bottom: 10px solid #ffffff;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: -20px;
    right: 53px;
}

.top-header .right-notify-area .notification-box.message-box ul {
    right: -15px;
    display: none;
    width: 350px;
}

.top-header .right-notify-area .notification-box.message-box ul li .notification-row {
    position: relative;
}

.top-header .right-notify-area .notification-box.message-box ul li:last-child a {
    text-align: center;
    display: block;
    line-height: 30px;
    color: #15b4ef;
}

.top-header .right-notify-area .notification-box.message-box ul li .notification-row p,
.top-header .right-notify-area .notification-box.message-box ul li .notification-row span {
    float: none;
    width: 100%;
    color: #7a808f;
}

.top-header .right-notify-area .notification-box.message-box ul li .notification-row .content-sec .message-controls {
    position: absolute;
    right: 0px;
    top: 0px;
}

.top-header .right-notify-area .notification-box.message-box ul li .message-controls .read-unread-control {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #15b4ef;
    border: 1px solid transparent;
    display: block;
    margin-bottom: 11px;
}

.top-header .right-notify-area .notification-box.message-box ul li .message-controls .cread {
    background: #ffffff;
    border: 1px solid #15b4ef;
}

.top-header .right-notify-area .notification-box.message-box ul li .notification-row .content-sec {
    float: left;
    width: 273px;
    padding-right: 20px;
    position: relative;
}

.top-header .right-notify-area .notification-box.message-box ul li .message-controls .cancel-btn {
    font-size: 14px;
    color: #8A8F9D;
    font-family: arial;
    text-decoration: none;
}

.top-header .right-notify-area .notification-box.message-box ul li .notification-row .content-sec h4 {
    font-family: "Helvetica-Bold";
    font-size: 12px;
    margin: 0 0 6px 0;
    text-transform: capitalize;
}

.top-header .right-notify-area .notification-box.message-box ul:after {
    top: -20px;
    right: 18px;
}

.top-header .right-notify-area .notification-box > a {

    font-size: 30px;
    color: #7a808f;
    text-decoration: none !important;
    position: relative;

}

.top-header .right-notify-area .notification-box .alert-message {

    position: absolute;
    right: -11px;
    top: -9px;
    font-size: 10px;
    background: #f50010;
    height: 15px;
    width: 18px;
    text-align: center;
    color: #ffffff;
    line-height: 15px;
    border-radius: 1px;

}

.top-header .right-notify-area .notification-box .alert-circle {

    position: absolute;
    right: -11px;
    top: -9px;
    font-size: 10px;
    background: #f50010;
    height: 18px;
    width: 18px;
    text-align: center;
    color: #ffffff;
    line-height: 18px;
    border-radius: 50%;
}

.top-header .right-notify-area .notification-box .alert-message:after {
    content: '';
    position: absolute;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #f50010;
    border-bottom: 4px solid transparent;
    left: 2px;
    bottom: -8px;

}

.top-header .right-notify-area .notification-box .alert-message:after {
    content: '';
    position: absolute;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #f50010;
    border-bottom: 4px solid transparent;
    left: 2px;
    bottom: -8px;

}

.navigation-area {
    background: #fafafa;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}

.navigation-area nav ul li a {
    font-family: 'Helvetica';
    font-weight: 500;
    color: #44484f;
    font-size: 12px;
    line-height: 33px;
    text-transform: capitalize;
}

.category-area {

}

.category-area .product-container {

    position: relative;
}

.category-area .product-container .masonry {
    margin: 0 auto;
}

.products-box {

    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #fafafa;
}

.category-area .products-box {
    margin: 14px 7px 0 7px;
    width: 236px;

}

.products-box .invite-list-box > span {
    font-size: 12px;
    font-family: 'Helvetica-Bold';
    padding: 10px 15px;
    display: block;
}

.products-box .invite-list-box span i {
    float: right;
    margin-top: 3px;
}

.products-box .invite-list-box .postby-area {
    border-bottom: 1px solid #c9cacb;

}

.products-box .invite-list-box .postby-area span {
    font-size: 12px;
    font-family: 'Helvetica-Bold';
    color: #000000;
    margin-top: 0px;

}

.products-box .invite-list-box .postby-area a {
    color: #f50010 !important;
    text-decoration: none !important;
    font-size: 12px;

}

.products-box .invite-list-box .btn-primary {
    margin: 10px;
    display: block;
}

.products-box:hover {
    /*border: 1px solid #1491d7;
    box-shadow: 1px 1px 5px #88aad7, -0px -0px 5px #3bbfd7;*/
}

.products-box .img-section {
    position: relative;
}

.products-box .img-section:hover .img-overlay {

    display: block;
}

.products-box .img-section img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.products-box .img-section .img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.15);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.70)));
    background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.70));
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.70));
    top: 0px;
    left: 0px;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: none;
}

.products-box .img-section .img-overlay p {
    position: absolute;
    bottom: 0px;
    color: #ffffff;
    font-size: 12px;
    font-family: 'Helvetica';
    font-weight: 100;
}

.btn-primary {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0096ff), to(#0079d5)) !important;
    background-image: -webkit-linear-gradient(#0096ff, #0079d5) !important;
    background-image: linear-gradient(#0096ff, #0079d5) !important;
    background-color: #0096ff !important;
    border-bottom-color: #006abf !important;
    border-left-color: #005ea5 !important;
    border-right-color: #004b86 !important;
    border-top-color: #0085e7 !important;
    border-style: solid !important;
    border-width: 1px !important;
    -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.34);
    -moz-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.34);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.34);
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.11);

}

.btn-default {
    background-color: #f8f8f8 !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0)) !important;
    background: -webkit-linear-gradient(#fff, #f0f0f0) !important;
    background: -moz-linear-gradient(#fff, #f0f0f0) !important;
    background: linear-gradient(#fff, #f0f0f0) !important;
    border: 1px solid #ccc !important;
    color: #5f5f5f !important;
    cursor: pointer;
    font-weight: bold !important;
    text-shadow: 0 1px #fff !important;
    white-space: nowrap !important;
    background-color: #f0f0f0 !important;
    padding: 7px 10px;
    font-size: 13px;
}

.products-box .control-section {
    line-height: 35px;
    color: #7a808f;
    padding: 0 15px;
    font-weight: normal;
    border-bottom: 1px solid #E6E6E6;
}

.products-box .control-section .controls {
    font-size: 12px;
    float: left;
}

.products-box .control-section .controls span {
    margin-right: 10px;

}

.products-box .postby-area {
    padding: 10px;
    background: #fafafa;
    border-top: 1px solid #F1F1F1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.products-box .postby-area img {
    float: left;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.products-box .postby-area span {
    font-size: 15px;
    text-transform: capitalize;
    margin-top: 10px;
    display: block;
    color: #7a808f;
}

.scroll-up {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}

.chat-icon {
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 999;
}

.icon-close {
    position: fixed;
    bottom: 72px;
    left: 38px;
    width: 18px;
    height: 18px;
    background: #333333;
    color: #ffffff !important;
    text-align: center;
    line-height: 15px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    font-size: 11px;
    z-index: 99999;
}

.num-notification {
    position: fixed;
    bottom: 72px;
    left: 76px;
    width: 18px;
    height: 18px;
    background: #df0000;
    color: #ffffff !important;
    text-align: center;
    line-height: 16px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    font-size: 11px;
}

.chatbox-area {
    position: fixed;
    background: #ffffff;
    border: 1px solid #cccccc;
    bottom: 100px;
    left: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #E0E0E0;
    padding: 0px;
    z-index: 9999;
    display: none;
    width: 410px;
}

.chatbox-area:after, .chatbox-area:before {
    top: 100%;
    left: 74px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}

.chatbox-area:after {
    border-color: transparent;
    border-top-color: #ffffff;
    border-width: 10px;
    margin-left: -30px;
}

.chatbox-area:before {
    border-color: transparent;
    border-top-color: #cccccc;
    border-width: 12px;
    margin-left: -32px;
}

.chatbox-area .chat-header {
    background: #303030;
    font-size: 15px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 12px 20px;
    color: #ffffff;
    position: relative;
}

.chatbox-area .chat-header a {
    position: absolute;
    right: 20px;
    top: 6px;
    line-height: 34px;
}

.chatbox-area .chat-header a i {
    font-weight: normal;
    font-size: 20px;
    color: #7a808f;
}

.chatbox-area .chat-body .chat-users {
    position: relative;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
}

.chatbox-area .chat-body .chat-users ul {
    padding: 0 0 0px 10px;
    margin: 15px 0 0px 0px;
    list-style: none;
    height: 38px;
    overflow: hidden;
    width: 80%;
}

.chatbox-area .chat-body .chat-users ul li {
    float: left;
    margin-left: 10px;
}

.chatbox-area .chat-body .chat-users .more-user-count {
    position: absolute;
    width: 20%;
    background: #ffffff;
    height: 100%;
    right: 0px;
    top: 0px;
    text-align: center;
    font-size: 17px;
    color: #188db9;
    line-height: 35px;
}

.chatbox-area .chat-body .chat-content {
    max-height: 350px;
    min-height: 350px;
    overflow: auto;
    padding: 20px;
}

.chatbox-area .chat-body .chat-content ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.chatbox-area .chat-body .chat-content ul li {
    margin-bottom: 15px;
}

.chatbox-area .chat-body .chat-content ul li .chat-user-img {
    width: 60px;
    height: 60px;
    overflow: hidden;
    float: left;
    margin-right: 5px;
}

.chatbox-area .chat-body .chat-content ul li .chat-message {
    position: relative;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 77%;
    float: right;

    font-size: 12px;
}

.chatbox-area .chat-body .chat-content ul li .chat-message .message-wrape {
    padding: 15px;
}

.chatbox-area .chat-body .chat-content ul li .chat-message.with-img .message-wrape {
    min-height: 201px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    padding: 15px;

}

.chatbox-area .chat-body .chat-content ul li .chat-message.with-img:after {
    border-right-color: #e2e2e2;
    border: 0px;
}

.chatbox-area .chat-body .chat-content ul li .chat-message.with-img:before {
    border: 0px;
}

.chatbox-area .chat-body .chat-content ul li .chat-message .user-name {
    font-weight: bold;
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

.chatbox-area .chat-body .chat-content ul li .chat-message .posted-date {
    font-weight: bold;
    display: block;
    text-align: right;
    font-size: 11px;
    color: #7a808f;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.chatbox-area .chat-body .chat-content ul li .chat-message:after, .chatbox-area .chat-body .chat-content ul li .chat-message:before {
    right: 100%;
    top: 50px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}

.chatbox-area .chat-body .chat-content ul li .chat-message:after {
    border-color: transparent;
    border-right-color: #ffffff;
    border-width: 10px;
    margin-top: -30px;
}

.chatbox-area .chat-body .chat-content ul li .chat-message:before {
    border-color: transparent;
    border-right-color: #cccccc;
    border-width: 12px;
    margin-top: -32px;
}

.chatbox-area .chat-footer {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #e0e0e0;
}

.chatbox-area .chat-footer .input-group {
    width: 100%;
    margin-left: 1px;
    box-shadow: none !important;
}

.chatbox-area .chat-footer .input-group .input-group-addon {
    border: 0px;

    border-radius: 0px;
    border-bottom-right-radius: 5px;
    padding: 20px 5px 20px 25px;
    background: #e0e0e0;
}

.chatbox-area .chat-footer .input-group .form-control {
    color: #7a808f;
    border: 0px;
    box-shadow: none !important;
    height: 58px;
}

.chatbox-area .chat-footer .input-group a i {
    font-size: 18px;
    margin-right: 15px;
    color: #7a808f;
}

/*******Profile image******/
.cover-photo {
    width: 100%;
    max-height: 260px;
    min-height: 150px;
    overflow: hidden;
}

.cover-photo img {
    width: 100%;
    min-height: 150px;
}

.p-info-area {
    background: #fafafa;
    margin-top: -45px;
    border-radius: 3px;
    min-height: 200px;
    position: relative;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    float: left;
    width: 100%;
}

.p-info-area .profile-img {
    border: 1px solid #c5c6c6;
    border-radius: 3px;
    left: 43px;
    top: -79px;
    position: absolute;
    background: #ffffff;
    text-align: center;
    overflow: hidden;
}

.p-info-area .profile-img img {
    width: 148px;
    height: 148px;
    border: 4px solid #ffffff;
}

.p-info-area .profile-info-area h2 {
    font-size: 27px;
    font-family: "Helvetica-Bold";
    text-transform: capitalize;
}

.p-info-area .profile-info-area {
    display: table;
    margin: 0;
    float: left;
    padding-left: 240px;
}

.profile-info-area .followers-area {
    margin-top: 45px;
}

.profile-info-area .followers-area .followers {
    text-align: center;
    margin-bottom: 20px;
    color: #7a808f;
    padding-right: 35px;
}

.profile-info-area .followers-area .followers span {
    font-family: "Helvetica-Bold";
    font-size: 22px;
    display: block;
}

.profile-info-area .followers-area .followers p {
    font-size: 16px;
    text-transform: capitalize;
    font-family: "Helvetica";
}

.btn-light-blue {
    padding: 10px 20px;
    display: block;
    background: #15b4ef;
    color: #ffffff !important;
    text-decoration: none !important;
    cursor: pointer;
    font-size: 13px;
    font-weight: 100;
    border: 0px;
    text-transform: capitalize;
    border-radius: 3px;
}

.eidt-profile-icon {
    position: static;
    right: 20px;
    top: 20px;
    margin-top: 20px;
    margin-left: 10px;
}

.profileProducts {
    position: relative;
}

.profileProducts .products-box .img-section {
    height: 260px;
    overflow: hidden;
}

.product-page-products .products-box {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
}

.profileProducts .products-box .img-section img {
    text-align: center;
    height: 260px;
    width: auto;
    margin: 0 auto;
}

.recent-product-slider .owl-buttons div, #quick-product-thumb-slide .owl-buttons div {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    font-size: 1px;
    color: #ffffff;
    background: #ffffff;
    height: 120px;
    width: 50px;
    border: 0px solid #eeeeee;
    z-index: 999;
}

.recent-products-area .products-box {
    margin-top: 50px;
}

.recent-products-area .products-box .img-section img {
    height: 280px;
}

.recent-products-area h2 {
    margin-left: 5px;
}

.recent-product-slider {
    margin-top: 30px;
    margin-bottom: 30px;
}

.recent-products-area .recent-product-slider {
    margin-top: 20px;
}

.recent-product-slider h2 {
    font-size: 27px;
    font-family: "Helvetica";
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
}

.recent-product-slider .owl-buttons .owl-prev {
    left: 11px;
    background: url("../images/pre-icon.png") no-repeat;

}

.recent-product-slider .owl-buttons .owl-next {
    right: 11px;
    background: url("../images/next-icon.png") no-repeat;
}

/*********message page**********/
.message-list-box {
    border: 1px solid #e0e0e0;
    background: #ffffff;

}

.message-conversation-box-main {
    background: #ffffff;
}

.message-list-box .message-search-head {
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.message-list-box .message-search-head .form-control {
    margin: 0px;
    padding-right: 30px;
    border-radius: 0px;
    border: 1px solid #e0e0e0;
    background: url("../images/search-icon.png") 98% 50% no-repeat;
}

.message-list-box .conversations-listing {
    margin: 0px;
    list-style: none;
    padding: 0px;
    overflow: auto;
}

.message-conversation-box {
    border: 1px solid #e0e0e0;
}

.message-list-box .conversations-listing li {
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.message-list-box .conversations-listing li .list-box img {
    float: left;
    margin-right: 15px;
    /*Kamran*/
    width: 40px;
}

.message-list-box .conversations-listing li .list-box .desc {
    float: left;
    position: relative;
    width: 81%;
}

.message-list-box .conversations-listing li .list-box .desc .user-name {
    font-size: 12px;
    font-family: "Helvetica-Bold";
    margin-bottom: 5px;
    display: block;
    color: #44484f;
}

.message-list-box .conversations-listing li .list-box .desc .date-area {
    position: absolute;
    right: -10px;
    top: 0px;
}

.message-list-box .conversations-listing li .list-box .desc .date-area span {
    display: block;
    font-family: 'Helvetica';
    font-weight: normal;
}

.message-list-box .conversations-listing li .list-box .desc .date-area .date-msg {
    font-size: 11px;
    color: #7a808f;

}

.message-list-box .conversations-listing li .list-box .desc .date-area .total-unread {
    min-width: 18px;
    min-height: 18px;
    border-radius: 50%;
    font-size: 11px;
    background: #15b4ef;
    color: #ffffff;
    text-align: center;
    line-height: 18px;
    float: right;
    margin-top: 3px;
}

.message-list-box .conversations-listing li .list-box .desc p {
    font-size: 12px;
    font-family: 'Helvetica';
    font-weight: normal;
    color: #7a808f;
}

.message-conversation-box {
    overflow: auto;
    padding: 20px;
    height: 80%;
}

.message-conversation-box ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.message-conversation-box ul li {
    margin-bottom: 15px;
}

.message-conversation-box ul li .chat-user-img {
    width: 60px;
    height: 60px;
    overflow: hidden;
    float: left;
    margin-right: 5px;
}

.message-conversation-box ul li .chat-message {
    position: relative;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 87%;
    float: right;

    font-size: 12px;
}

.message-conversation-box ul li .chat-message .message-wrape img {
    max-height: 195px;
    display: table;
    margin: 0 auto;
}

.message-conversation-box ul li .chat-message .message-wrape {
    padding: 15px;

}

.message-conversation-box ul li .chat-message.with-img .message-wrape {
    min-height: 201px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    padding: 15px;

}

.message-conversation-box ul li .chat-message.sender-body {
    background: #15b4ef;
    color: #ffffff;
    border: 0px;
}

.message-conversation-box ul li .chat-message.with-img:after {
    border-right-color: #e2e2e2;
    border: 0px;
}

.message-conversation-box ul li .chat-message.with-img:before {
    border: 0px;
}

.message-conversation-box ul li .chat-message .user-name {
    font-family: "Helvetica-Bold";
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-size: 15px;
}

.message-conversation-box ul li .chat-message .posted-date {

    display: block;
    text-align: right;
    font-size: 11px;
    color: #7a808f;
    font-family: 'Helvetica';
    font-weight: 200;
}

.message-conversation-box ul li .chat-message.sender-body .posted-date {
    font-family: 'Helvetica';
    color: #ffffff;
    font-weight: 200;
}

.message-conversation-box ul li .chat-message:after, .message-conversation-box ul li .chat-message:before {
    right: 100%;
    top: 50px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}

.message-conversation-box ul li .chat-message:after {
    border-color: transparent;
    border-right-color: #ffffff;
    border-width: 10px;
    margin-top: -30px;
}

.message-conversation-box ul li .chat-message.sender-body:after {
    border-right-color: #15b4ef;
}

.message-conversation-box ul li .chat-message:before {
    border-color: transparent;
    border-right-color: #cccccc;
    border-width: 12px;
    margin-top: -32px;
}

.message-conversation-box ul li .chat-message.sender-body:before {
    border-right-color: #15b4ef;
}

.message-text-box {
    border: 1px solid #e0e0e0;
    border-top: 0px;
    height: 20%;
}

.message-text-box .input-area {
    border-bottom: 1px solid #e0e0e0;
    padding: 0px 20px 0px 0px;
}

.message-text-box .input-area input {
    width: 93%;
    border: 0px;
    line-height: 40px;
    padding-left: 20px;
}

.message-text-box .input-area a {
    line-height: 40px;
    color: #7a808f;
}

.message-text-box a i {
    font-size: 18px;
    margin-left: 15px;

}

.message-text-box .controls-area {

    padding: 0px 10px 0px 0px;
    position: relative;
}

.message-text-box .controls-area .add-photo {
    text-transform: capitalize;
    color: #7a808f;
    text-decoration: none;
    top: 50%;
    left: 20px;
    position: absolute;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
}

.message-text-box .controls-area .btn-light-blue {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    padding: 5px 20px;
}

.gap {
    margin-top: 40px;
}

/****popups***/
.url-post-popup {
    width: 406px;
    z-index: 999999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: none;
}

.url-post-popup .popup-body,
#chatSmilyPopup .popup-body,
#postPin-popup .popup-body,
#chatUploadPopup .popup-body {
    background: #ffffff;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding: 25px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.url-post-popup .popup-head .closepopup,
#chatSmilyPopup .popup-head .closepopup,
#chatUploadPopup .popup-head .closepopup,
#postPin-popup .popup-head .closepopup {
    position: absolute;
    font-size: 18px;
    color: #7a808f;
    top: 15px;
    right: 8px;
    display: block;
    line-height: 0px;
    text-decoration: none;
}

.url-post-popup .popup-head,
#chatSmilyPopup .popup-head,
#chatUploadPopup .popup-head,
#postPin-popup .popup-head {
    background: #303030;
    font-family: 'Helvetica';
    color: #ffffff;
    padding: 0px 25px;
    line-height: 50px;
    position: relative;
    z-index: 99999;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: normal;

}

.url-post-popup .popup-body label,
#chatSmilyPopup .popup-body label,
#chatUploadPopup .popup-body label,
#postPin-popup .popup-body label {
    color: #7a808f;
    display: block;
}

.url-post-popup .popup-body input[type="text"], .url-post-popup .popup-body select,
#chatUploadPopup .popup-body input[type="text"], #chatUploadPopup .popup-body select,
#chatSmilyPopup .popup-body input[type="text"], #chatSmilyPopup .popup-body select,
#postPin-popup .popup-body input[type="text"], #postPin-popup .popup-body select {
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    width: 100%;
    margin-top: 8px;
    color: #A9ABB3;
    text-transform: capitalize;
}

.popup-btn-blue {
    padding: 10px;
    border: 0px;
    color: #ffffff !important;
    text-decoration: none !important;
    font-family: "Helvetica-Bold";
    background: #0096ff;
    margin-top: 20px;
    display: block;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.popup-btn-blue i {
    color: #0060a3;
    font-size: 18px;

}

.popup-gray-btn {
    padding: 10px;
    border: 0px;
    color: #7a808f !important;
    text-decoration: none !important;
    font-family: "Helvetica-Bold";
    background: #c9cacb;
    margin-top: 20px;
    display: block;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.width65per {
    width: 65%;
}

.width30per {
    width: 30%;
}

/***post popup***/
.post-popup .popup-head {
    font-size: 22px;
    font-family: 'Helvetica';
    text-transform: uppercase;
    line-height: 60px;
    font-weight: normal;
}

.post-popup .popup-head .icon-head {
    display: table;
    margin: 0 auto;
}

.post-popup .popup-body .thumbnail {
    padding: 1.5%;
    margin-left: 1.75%;
    margin-right: 1.75%;
    width: 20%;
    border: 1px solid #e0e0e0;
    float: left;
}

.post-popup .popup-body .inputs-area {
    margin: 0px -6px 0px -10px;
}

.post-popup .popup-body .inputs-area textarea {
    border: 1px solid #e0e0e0;
    resize: none;
    height: 75px;
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    color: #A9ABB3;
}

.m-right-10 {
    margin-right: 10px;
}

.post-popup .popup-body .inputs-area .upload-btn-area {
    position: relative;
    z-index: 1;
}

.post-popup .popup-body .inputs-area .upload-btn-area input[type="file"] {
    height: 1px;
    width: 1px;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.post-popup .popup-body .inputs-area .post-success {
    font-size: 16px;
    color: #7a808f;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-popup .popup-body .inputs-area .post-success i {
    font-size: 20px;
    color: #34a440;
}

.post-popup .popup-body .inputs-area .btn-controls .popup-btn-blue,
.post-popup .popup-body .inputs-area .btn-controls .popup-gray-btn {
    margin: 0px;
}

/*********product popup********/
#product-popup .popup-body {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

#product-popup .left-slider-box .share-box {
    width: 166px;
    height: 93px;
}

#product-popup .left-slider-box .share-box .share-box-head {
    background: #1f1f1f;
    color: #e0e0e0;
    line-height: 38px;
    text-align: center;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    font-size: 16px;
    text-transform: capitalize;
}

#product-popup .left-slider-box .share-box .share-body a .share-area {
    border-left: 1px solid #e0e0e0;
    position: relative;
    line-height: 50px;
    width: 33.333333%;
    float: left;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-bottom: 0px;

}

#product-popup .left-slider-box .share-box .share-body a:first-child .share-area {
    border-left: none;
}

#product-popup .left-slider-box .share-box .share-body {
    background: #ffffff;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #e0e0e0;
}

#product-popup .left-slider-box .share-box .share-body .share-area .like-count {
    position: absolute;
    right: 2px;
    top: 0px;
    background: #e0e0e0;
    font-size: 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #1f1f1f;
    font-family: "Helvetica-Bold";
}

#product-popup .left-slider-box #quick-product-thumb-slide {
    list-style: none;
    padding: 20px;
}

#product-popup .left-slider-box #quick-product-thumb-slide a {
    height: 95px;
    width: 125px;
    display: block;
    text-align: center;
    border: 1px solid #e0e0e0;
    margin: 0 auto;
}

#product-popup .left-slider-box #quick-product-thumb-slide .owl-buttons div {
    border: 0px;
    width: 15px;
    height: 15px;
}

#product-popup .left-slider-box #quick-product-thumb-slide .owl-buttons .owl-prev {
    left: 11px;
    background: url("../images/thumbpre.png") no-repeat;

}

#product-popup .left-slider-box #quick-product-thumb-slide .owl-buttons .owl-next {
    right: 6px;
    background: url("../images/thmnnext.png") no-repeat;
}

#product-popup .right-area h2 {
    margin: 0px;
    font-family: "Helvetica-Bold";
    font-size: 25px;
    color: #000000;
    margin-bottom: 15px;
}

#product-popup .right-area span {
    display: block;
    font-size: 18px;
    margin-bottom: 7px;
}

#product-popup .right-area .buket {
    color: #7a808f;
    font-family: 'Helvetica';
    font-weight: normal;
}

#product-popup .right-area .buket i {
    margin-right: 10px;
}

#product-popup .right-area .price {
    margin-right: 10px;
    color: #1591d7;
    font-family: 'Helvetica';
    font-weight: 100;
}

#product-popup .right-area .blue-btn {
    font-size: 18px;
    font-family: 'Helvetica';
    font-weight: 100;
    padding: 10px 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#product-popup .right-area .client-info-area img {
    width: 65px;
    height: 65px;
    margin-right: 15px;

}

#product-popup .right-area .client-info-area .user-name {
    font-size: 18px;
    text-transform: capitalize;
}

#product-popup .right-area .client-info-area .post-btn {
    display: block;
}

#product-popup .right-area .comment-area-list {
    margin-top: 20px;
}

#product-popup .right-area .comment-area-list .comment-area {
    width: 100%;

}

#product-popup .right-area .comment-area-list .comment-area .info-area {
    width: 350px;
    margin-left: 10px;
}

#product-popup .right-area .comment-area-list .comment-area .info-area .user-name {
    font-size: 14px;
    font-family: 'Helvetica';
    color: #000000;
    text-transform: capitalize;
    font-weight: normal;
}

#product-popup .right-area .comment-area-list .comment-area .info-area p {
    font-size: 12px;
    font-family: 'Helvetica';
    color: #454950;
    font-weight: normal;
}

#product-popup .right-area .comment-area-list .comment-area {
    margin-bottom: 18px;
    border-bottom: 1px solid #c6c7c8;
    color: #454950;
}

#product-popup .right-area .comment-area-list .comment-area:last-child {
    border-bottom: none;
    margin-bottom: 8px;
}

#product-popup .right-area .comment-post-area img {
    width: 38px;
    height: 38px;
    margin-right: 10px;
    float: left;
}

#product-popup .right-area .comment-post-area img {
    width: 38px;
    height: 36px;
    margin-right: 10px;
}

#product-popup .right-area .comment-post-area input {
    width: 285px;
    line-height: 32px;
    padding-left: 15px;
    border: none !important;
    box-shadow: none !important;
    color: #777777;
}

#product-popup .right-area .comment-post-area input:focus {

    border: none !important;
    box-shadow: none !important;

}

#product-popup .right-area .comment-post-area {
    margin-bottom: 20px;
}

#product-popup .right-area .comment-post-area .input-area {
    color: #c6c7c8;
    border: 1px solid #c6c7c8;
    width: 354px;
    float: left;
}

#product-popup .right-area .comment-post-area .input-area a {
    font-size: 18px;
    color: #c6c7c8;
    margin-right: 10px;
    margin-top: 5px;
    display: block;
    float: left;
}

#product-popup .right-area .view-comment {
    display: table;
    margin-bottom: 10px;
    color: #0096ff;
}

/******login popup******/
#login-popup.modal {
    background-position: 0 0;
    background: repeat;
    background-size: cover;
    background-color: #cccccc;
    display: block;
}

.login-modalBG {
    background-size: cover;
    padding: 0px 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    background-color: #999999;
}

.login-modalBG .l-content-area {
    text-align: center;
    padding-top: 30px;
}

.login-modalBG .l-content-area p {
    color: #ffffff;
    font-family: 'Helvetica';
    margin-bottom: 5px;
    font-weight: normal;
}

.login-modalBG .l-content-area p b {
    font-family: "Helvetica-Bold";
}

.login-modalBG .l-content-area img {
    margin-bottom: 25px;
}

.login-modalBG .inputs-area {
    margin-top: 75px;
    padding-bottom: 30px;
}

.login-modalBG .inputs-area .login-area {
    /*background: rgba(255,255,255,.76);*/
    background: #fff;
    padding: 25px;
    border: 1px solid #c6c7c8;
}

.login-modalBG .inputs-area .login-area .icons-list {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    display: table;
    top: -40px;
    width: 255px;
}

.login-modalBG .inputs-area .login-area .input-area {
    width: 100%;
}

.login-modalBG .inputs-area .login-area .input-area p {
    font-size: 15px;
    margin: 20px 0px;
    font-family: 'Helvetica';
    text-align: center;
    color: #7a808f;
    font-weight: normal;
}

.login-modalBG .inputs-area .login-area .input-area .inputs-boxes {
    width: 100%;
    height: 38px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.login-modalBG .inputs-area .post-btn {
    display: table;
    margin: 10px auto;
    padding: 3px 20px;
}

.login-modalBG .inputs-area .termsp {
    font-size: 12px;
    font-family: 'Helvetica';
    color: #ffffff;
    text-align: center;
    font-weight: normal;
}

.login-modalBG .inputs-area .login-area .input-area .btn-light-blue {
    width: 100%;
}

.redbtn {
    display: table;
    padding: 7px 20px;
    background: #df0000;
    color: #ffffff !important;
    border: 0px;
    text-decoration: none !important;
    font-family: 'Helvetica';
    font-size: 13px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: normal;
}

.login-modalBG .l-content-area .redbtn {
    display: table;
    margin: 20px auto;
}

.redbtn b {
    font-family: "Helvetica-Bold";
    font-size: 15px;
    font-weight: 800;
}

.width100per {
    width: 100%;
}

.listing-trigger {
    display: none;
}

.dragUploadArea {
    width: 100%;
    height: 80px;
    border: 2px dashed #c4cc88;
    background: #edf5a4;
    font-size: 13px;
    text-align: center;
    line-height: 80px;
    text-transform: uppercase;
    padding: 0px 20px;
}

.m-top-31min {
    margin-top: -36px;
}

/************Desktop End Here1****************/

/*********** Responsive Start Here******************/
@media only screen and (min-width: 990px) {

    .navigation-area nav ul {
        display: table;
        margin: 0 auto;
        float: none;
    }

    .navigation-area nav ul li a {
        padding: 0px 12px 0px 12px;
        line-height: 33px;
    }

    .login-modalBG .l-content-area .redbtn {
        position: absolute;
        right: 0px;
        top: 15px;
        margin: 0px auto;
    }
    .navigation-area nav ul li a:hover{background: #c6c7c8;}

    .login-modalBG .l-content-area .im-area {
        float: right;
    }
}

@media only screen and (min-width: 1801px) and (max-width: 2000px) {

}

@media only screen and (min-width: 1601px) and (max-width: 1800px) {

}

@media only screen and (min-width: 1451px) and (max-width: 1600px) {

}

@media only screen and (min-width: 1367px) and (max-width: 1450px) {

}

@media only screen and (min-width: 0) and (max-width: 991px) {
    .heading {
        width: 100%;
    }

    .profile-info-area {
        padding-left: 20px !important;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
    .message-list-box .conversations-listing li .list-box .desc {
        width: 77%;
    }
}

@media only screen and  (max-width: 990px) {
    .message-conversation-box {
        height: 60%;
    }

    .message-text-box {
        height: 40%;
    }

    .message-text-box .input-area input {
        width: 94%;
    }

    .message-text-box .controls-area {
        height: 60%;
    }

    .profile-info-area .followers-area .followers {
        padding-right: 20px;
    }
}

@media only screen and (min-width: 862px) and (max-width: 990px) {

    .category-area .products-box .img-overlay .btn {
        padding: 6px 10px !important;
        font-size: 14px !important;
        line-height: 20px !important;
    }
}

@media only screen  and (min-width: 575px) and (max-width: 769px) {

    .category-area .products-box .img-overlay .btn {
        padding: 6px 10px !important;
        font-size: 14px !important;
        line-height: 20px !important;
    }
}

@media only screen and (min-width: 0px) and (max-width: 769px) {
    .message-conversation-box ul li .chat-message {
        width: 78%;
    }
}

@media only screen and (min-width: 530px) and (max-width: 769px) {

    .p-info-area .profile-img {
        position: absolute;
        float: left;
        margin: 0;
        top: 20px;
        left: 20px;

    }

    .p-info-area .profile-info-area {
        display: inherit;
    }

    .profile-info-area {
        position: static;
        top: 0;
        padding-left: 180px !important;
    }
}

@media only screen and (min-width: 300px) and (max-width: 570px) {
    .profile-info-area .followers-area .followers {
        padding-right: 5px;
    }
}

@media only screen and (max-width: 540px) {
    .profile-info-area .followers-area .followers {
        padding-right: 20px;
    }

    .p-info-area .profile-info-area {
        display: block;
        clear: both;
    }

    .p-info-area .profile-img {
        position: static;
        float: left;
        margin: 20px;

    }
}

@media only screen and (min-width: 401px) and (max-width: 670px) {

    .chatbox-area {
        width: 310px;
    }

    .chatbox-area .chat-body .chat-content ul li .chat-message {
        width: 68%;
    }

    .message-text-box .input-area input {
        width: 92%;
    }
}

@media only screen and (min-width: 300px) and (max-width: 400px) {
    .profile-info-area .followers-area .followers {
        padding-right: 5px;
    }

    .p-info-area .profile-info-area h2 {
        text-align: center;
    }

    .p-info-area .profile-img {
        display: table;
        float: none;
        margin: 20px auto;
    }

    .eidt-profile-icon {
        position: static;
        width: 100%;
        text-align: center;
    }

    .followers-area {
        margin-left: -15px;
        margin-right: -15px;
    }

    .chatbox-area {
        width: 250px;
    }

    .chatbox-area .chat-body .chat-content ul li .chat-user-img {
        width: 40px;
        height: 40px;
    }

    .chatbox-area .chat-body .chat-content ul li .chat-message {
        width: 68%;
    }

    .top-header .right-notify-area .notification-box.message-box ul {
        width: 315px;

    }

    .top-header .right-notify-area .notification-box.message-box ul li .notification-row .content-sec {
        width: 235px;
    }

    .top-header .right-notify-area .account-info ul {
        left: 0;
        width: 200px;
    }

    .top-header .right-notify-area .account-info ul:before {
        left: 5px;
    }
}

@media only screen and (max-width: 529px) {
    .message-text-box .controls-area {
        height: 45%;
    }

    .message-text-box .input-area input {
        width: 86%;
    }

    .category-area .products-box .img-overlay .btn {
        padding: 6px 10px !important;
        font-size: 14px !important;
        line-height: 20px !important;
    }

    .post-btn {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .top-header .right-notify-area .account-info {
        margin-left: 0px;
    }

    .url-post-popup {
        width: 92%;

    }
}

@media only screen and (max-width: 340px) {

}

@media only screen and (max-height: 635px) {
    .chatbox-area .chat-body .chat-content {
        max-height: 200px;
        min-height: 200px;
    }
}

@media only screen and (min-width: 1071px) and (max-width: 1191px) {

    .navigation-area nav ul li a {
        padding: 0px 8px 0px 8px;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1070px) {

    .navigation-area nav ul li a {
        padding: 0px 6px 0px 6px;
    }

}

@media only screen and (min-width: 991px) and (max-width: 1023px) {

    .navigation-area nav ul li a {
        padding: 0px 4px 0px 4px;
        font-size: 12px;
    }

}

@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }

    .message-list-box .conversations-listing li .list-box img {
        margin-right: 8px;
    }

    .message-list-box .conversations-listing li .list-box .desc {
        width: 77%;
    }

    .listing-trigger {
        width: 50px;
        height: 50px;
        display: block;
        background-color: #ffffff;
        position: relative;
        right: -50px;
        z-index: 999999999999;
        float: right;
        text-align: center;
        line-height: 50px;
        font-size: 24px;
        color: #000000;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .collapse.in {
        display: block !important;
    }

    .navbar-nav {
        float: none !important;
        margin: 7px -15px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .right-responsive, .logo-area {
        display: table;
        margin: 15px auto;
        float: none !important;
    }

}

.message-list-box .conversations-listing li {

    cursor: pointer;
    cursor: hand;
}

.list-inline {
    margin: 0;
}

.category-area .products-box .img-overlay .btn {
    font-weight: normal !important;
}

.bottomSec {
    padding-bottom: 100px !important;
}

.search-bar .input-group-btn .btn {
    height: 34px;
}

.search-bar .input-group .form-control {
    height: 34px;
}

.navbar-toggle {
    text-indent: -999em;
    width: 50px;
    background: url("../images/menu.png") center center no-repeat;
    background-size: 30px auto;
}

.hide {
    display: none;
}

.wrapper-table {
    margin: 0 auto;
    display: table;
    width: auto;
}

.login-area .input-area label {
    font-weight: normal;
    margin-right: 10px;
    margin-bottom: 10px
}

.login-area .input-area label input {
    margin-left: 10px;
}